.elementor-123818 .elementor-element.elementor-element-49f317fe{--display:flex;--min-height:65px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;}.elementor-123818 .elementor-element.elementor-element-49f317fe:not(.elementor-motion-effects-element-type-background), .elementor-123818 .elementor-element.elementor-element-49f317fe > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(197deg, #4073BA 0%, #418F7F 100%);}.elementor-widget-theme-page-title .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-123818 .elementor-element.elementor-element-9d55654.elementor-element{--order:99999 /* order end hack */;}.elementor-123818 .elementor-element.elementor-element-9d55654 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:17px;font-weight:600;color:#FFFFFF;}.elementor-123818 .elementor-element.elementor-element-698b1714{--display:flex;--min-height:0px;}.elementor-123818 .elementor-element.elementor-element-6b707cbc{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--padding-top:0%;--padding-bottom:0%;--padding-left:8%;--padding-right:8%;}.elementor-123818 .elementor-element.elementor-element-2735e532{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E9E9E9;--border-color:#E9E9E9;--border-radius:10px 10px 10px 10px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-123818 .elementor-element.elementor-element-2735e532:not(.elementor-motion-effects-element-type-background), .elementor-123818 .elementor-element.elementor-element-2735e532 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-widget-theme-post-title .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-123818 .elementor-element.elementor-element-7d32d142 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:2px 9px 2px 12px;border-style:dashed;border-width:1px 1px 1px 1px;border-color:#C7D1E0;border-radius:10px 10px 10px 10px;}.elementor-123818 .elementor-element.elementor-element-7d32d142 .elementor-heading-title{font-family:"segoe-ui", Sans-serif;font-size:30px;font-weight:600;color:#363636;}.elementor-widget-theme-post-content{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-123818 .elementor-element.elementor-element-72e17872 > .elementor-widget-container{padding:0px 12px 32px 12px;}.elementor-123818 .elementor-element.elementor-element-72e17872{color:#303030;font-family:"segoe-ui", Sans-serif;font-size:18px;font-weight:400;line-height:36px;}.elementor-123818 .elementor-element.elementor-element-220a5631{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-281cfbef{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:15px 0px;--row-gap:15px;--column-gap:0px;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E9E9E9;--border-color:#E9E9E9;--border-radius:10px 10px 10px 10px;--margin-top:0px;--margin-bottom:13px;--margin-left:0px;--margin-right:0px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-123818 .elementor-element.elementor-element-281cfbef:not(.elementor-motion-effects-element-type-background), .elementor-123818 .elementor-element.elementor-element-281cfbef > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-123818 .elementor-element.elementor-element-7ba45f49.elementor-element{--align-self:center;}.elementor-123818 .elementor-element.elementor-element-47eeae6c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-123818 .elementor-element.elementor-element-47eeae6c.elementor-element{--align-self:center;}.elementor-widget-image-box .elementor-image-box-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-widget-image-box:has(:hover) .elementor-image-box-title,
					 .elementor-widget-image-box:has(:focus) .elementor-image-box-title{color:var( --e-global-color-primary );}.elementor-widget-image-box .elementor-image-box-description{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-123818 .elementor-element.elementor-element-7b249d82 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-123818 .elementor-element.elementor-element-7b249d82.elementor-element{--align-self:center;}.elementor-123818 .elementor-element.elementor-element-7b249d82 .elementor-image-box-wrapper{text-align:end;}.elementor-123818 .elementor-element.elementor-element-7b249d82.elementor-position-right .elementor-image-box-img{margin-left:5px;}.elementor-123818 .elementor-element.elementor-element-7b249d82.elementor-position-left .elementor-image-box-img{margin-right:5px;}.elementor-123818 .elementor-element.elementor-element-7b249d82.elementor-position-top .elementor-image-box-img{margin-bottom:5px;}.elementor-123818 .elementor-element.elementor-element-7b249d82 .elementor-image-box-title{margin-bottom:0px;font-family:"segoe-ui", Sans-serif;font-size:13px;font-weight:600;color:#1D1D1D;}.elementor-123818 .elementor-element.elementor-element-7b249d82 .elementor-image-box-wrapper .elementor-image-box-img{width:26%;}.elementor-123818 .elementor-element.elementor-element-7b249d82 .elementor-image-box-img img{transition-duration:0.3s;}.elementor-123818 .elementor-element.elementor-element-185636d3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:1px 4px 1px 4px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#EDEDED;border-radius:6px 6px 6px 6px;}.elementor-123818 .elementor-element.elementor-element-185636d3.elementor-element{--align-self:center;}.elementor-123818 .elementor-element.elementor-element-220eb54b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:13px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-4f77c273{--display:flex;--min-height:408px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E9E9E9;--border-color:#E9E9E9;--border-radius:10px 10px 10px 10px;--margin-top:0px;--margin-bottom:13px;--margin-left:0px;--margin-right:0px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-123818 .elementor-element.elementor-element-4f77c273:not(.elementor-motion-effects-element-type-background), .elementor-123818 .elementor-element.elementor-element-4f77c273 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-123818 .elementor-element.elementor-element-6735c2e > .elementor-widget-container{padding:0px 0px 16px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#E6E6E6;}.elementor-123818 .elementor-element.elementor-element-6735c2e{text-align:center;}.elementor-123818 .elementor-element.elementor-element-6735c2e .elementor-heading-title{font-family:"segoe-ui", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-1px;color:#474747;}.elementor-123818 .elementor-element.elementor-element-49343b96{--display:grid;--e-con-grid-template-columns:repeat(1, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;border-style:none;--border-style:none;--padding-top:0px;--padding-bottom:7px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-1ea8dc51{--display:flex;--min-height:408px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E9E9E9;--border-color:#E9E9E9;--border-radius:10px 10px 10px 10px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-123818 .elementor-element.elementor-element-1ea8dc51:not(.elementor-motion-effects-element-type-background), .elementor-123818 .elementor-element.elementor-element-1ea8dc51 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-123818 .elementor-element.elementor-element-5e1f41b4 > .elementor-widget-container{padding:0px 0px 16px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#E6E6E6;}.elementor-123818 .elementor-element.elementor-element-5e1f41b4{text-align:center;}.elementor-123818 .elementor-element.elementor-element-5e1f41b4 .elementor-heading-title{font-family:"segoe-ui", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-1px;color:#474747;}.elementor-123818 .elementor-element.elementor-element-7d2c20bf{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--padding-top:1%;--padding-bottom:0%;--padding-left:8%;--padding-right:8%;}.elementor-123818 .elementor-element.elementor-element-1036c705{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-1e1502ea{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--padding-top:1%;--padding-bottom:0%;--padding-left:8%;--padding-right:8%;}.elementor-123818 .elementor-element.elementor-element-42a24e03{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-31137800{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:1%;--padding-bottom:0%;--padding-left:8%;--padding-right:8%;}.elementor-123818 .elementor-element.elementor-element-41ab1a5c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;border-style:none;--border-style:none;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:12px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-bc05f93{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-653519d8{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--padding-top:0%;--padding-bottom:0%;--padding-left:8%;--padding-right:8%;}.elementor-123818 .elementor-element.elementor-element-6416bf28{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E9E9E9;--border-color:#E9E9E9;--border-radius:10px 10px 10px 10px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-123818 .elementor-element.elementor-element-6416bf28:not(.elementor-motion-effects-element-type-background), .elementor-123818 .elementor-element.elementor-element-6416bf28 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-123818 .elementor-element.elementor-element-23e1546a > .elementor-widget-container{padding:0px 10px 16px 0px;}.elementor-123818 .elementor-element.elementor-element-23e1546a{text-align:start;}.elementor-123818 .elementor-element.elementor-element-23e1546a .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:500;letter-spacing:-1px;color:#474747;}.elementor-123818 .elementor-element.elementor-element-6fae9b1f{--display:grid;--e-con-grid-template-columns:repeat(3, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;--justify-items:center;border-style:solid;--border-style:solid;border-width:0px 0px 1px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:1px;--border-left-width:0px;border-color:#E6E6E6;--border-color:#E6E6E6;--padding-top:0px;--padding-bottom:16px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-4f61531e.elementor-element{--order:-99999 /* order start hack */;}.elementor-123818 .elementor-element.elementor-element-4f61531e{text-align:start;}.elementor-123818 .elementor-element.elementor-element-4f61531e .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.7px;color:#3D3D3D;}.elementor-123818 .elementor-element.elementor-element-418fd9d > .elementor-widget-container{padding:0% 51% 0% 0%;}.elementor-123818 .elementor-element.elementor-element-418fd9d{text-align:start;}.elementor-123818 .elementor-element.elementor-element-418fd9d .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.7px;color:#3D3D3D;}.elementor-123818 .elementor-element.elementor-element-4a5dd4d0 > .elementor-widget-container{padding:0% 40% 0% 0%;}.elementor-123818 .elementor-element.elementor-element-4a5dd4d0{text-align:start;}.elementor-123818 .elementor-element.elementor-element-4a5dd4d0 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.7px;color:#3D3D3D;}.elementor-123818 .elementor-element.elementor-element-6e8d16b{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-518b7a91{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--padding-top:1%;--padding-bottom:0%;--padding-left:8%;--padding-right:8%;}.elementor-123818 .elementor-element.elementor-element-31481b38{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E9E9E9;--border-color:#E9E9E9;--border-radius:10px 10px 10px 10px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-123818 .elementor-element.elementor-element-31481b38:not(.elementor-motion-effects-element-type-background), .elementor-123818 .elementor-element.elementor-element-31481b38 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-123818 .elementor-element.elementor-element-57783cda > .elementor-widget-container{padding:0px 10px 16px 0px;}.elementor-123818 .elementor-element.elementor-element-57783cda{text-align:start;}.elementor-123818 .elementor-element.elementor-element-57783cda .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:500;letter-spacing:-1px;color:#474747;}.elementor-123818 .elementor-element.elementor-element-4d24cd35 > .elementor-widget-container{border-style:none;}.elementor-123818 .elementor-element.elementor-element-4b76231a{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}@media(max-width:1024px){.elementor-123818 .elementor-element.elementor-element-49343b96{--grid-auto-flow:row;}.elementor-123818 .elementor-element.elementor-element-6fae9b1f{--grid-auto-flow:row;}}@media(max-width:767px){.elementor-123818 .elementor-element.elementor-element-9d55654 .elementor-heading-title{font-size:13px;}.elementor-123818 .elementor-element.elementor-element-6b707cbc{--padding-top:0%;--padding-bottom:0%;--padding-left:1%;--padding-right:1%;}.elementor-123818 .elementor-element.elementor-element-7d32d142 .elementor-heading-title{font-size:17px;}.elementor-123818 .elementor-element.elementor-element-7b249d82 .elementor-image-box-img{margin-bottom:5px;}.elementor-123818 .elementor-element.elementor-element-49343b96{--e-con-grid-template-columns:repeat(1, 1fr);--grid-auto-flow:row;}.elementor-123818 .elementor-element.elementor-element-6fae9b1f{--e-con-grid-template-columns:repeat(3, 1fr);--grid-auto-flow:row;--padding-top:0px;--padding-bottom:5px;--padding-left:0px;--padding-right:0px;}.elementor-123818 .elementor-element.elementor-element-4f61531e .elementor-heading-title{font-size:14px;}.elementor-123818 .elementor-element.elementor-element-418fd9d .elementor-heading-title{font-size:14px;}.elementor-123818 .elementor-element.elementor-element-4a5dd4d0 .elementor-heading-title{font-size:14px;}}@media(min-width:768px){.elementor-123818 .elementor-element.elementor-element-2735e532{--width:100%;}.elementor-123818 .elementor-element.elementor-element-220a5631{--width:38%;}.elementor-123818 .elementor-element.elementor-element-281cfbef{--width:100%;}.elementor-123818 .elementor-element.elementor-element-220eb54b{--width:100%;}.elementor-123818 .elementor-element.elementor-element-4f77c273{--width:100%;}.elementor-123818 .elementor-element.elementor-element-1ea8dc51{--width:100%;}.elementor-123818 .elementor-element.elementor-element-1036c705{--width:71%;}.elementor-123818 .elementor-element.elementor-element-42a24e03{--width:71%;}.elementor-123818 .elementor-element.elementor-element-41ab1a5c{--width:100%;}.elementor-123818 .elementor-element.elementor-element-bc05f93{--width:38%;}.elementor-123818 .elementor-element.elementor-element-6416bf28{--width:100%;}.elementor-123818 .elementor-element.elementor-element-6e8d16b{--width:38%;}.elementor-123818 .elementor-element.elementor-element-31481b38{--width:100%;}.elementor-123818 .elementor-element.elementor-element-4b76231a{--width:38%;}}/* Start custom CSS */.file-size{direction: ltr;font-size:13px;font-weight:700;}
.link-wrapper {
    position: relative; 
    display: inline-block; 
 
}

.download-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.tooltip {
    visibility: hidden; 
    width: 150px; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; 
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.link-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


@media (max-width: 600px) {
    .tooltip {
        width: 120px;
        padding: 6px 8px;
    }
    .elementor-3110 .elementor-element.elementor-element-7351fc1{direction: ltr;}
.previous-version-row .column1 strong {
    display: block;
}
.previous-version-row .column1 {
    display: flex;
    flex-direction: column;
}
.previous-version-row .column2 strong {
    display: block;
}
.previous-version-row .column2 {
    display: flex;
    flex-direction: column;
}

}
.previous-version-row{font-size: 14px;}

@media (min-width: 700px) {
    .column1 {
       width:45% !important;font-size: 14px;
    }
      .column2 {
       width:25%
    }
      .column3 {
      width:20%
    }
}
@media only screen and (max-width: 900px) {
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
}
.related-thumbnail{width:40px; float: right; margin-left: 10px;}
.relatedpost{margin-top: 20px;}
.asdaa{font-size:16px;font-weight:600;color:#000}
/* start download area */
.version-history{color:#4073ba;text-align:center;
 display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.version-history img{padding:0 5px;}
.version-history:hover{color:#000;}
.radiomycss label{
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
font-weight:600;
	color:#000;
}
.radiomycss input{
  display: none;
}

.radiomycss label{

  margin-right: 10px
}
.radiomycss label span{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #31a38c;
  float: right;
  margin-right: 10px;
	margin-top:5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.radiomycss input:checked + label span:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #31a38c;
}
.radiomycss{margin:10px 5px}

#buttonContainer{background: rgb(64,115,186);
background: linear-gradient(61deg, rgba(64,115,186,1) 0%, rgba(65,143,127,1) 100%);text-align:center;padding:10px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;margin:20px 0;}
#buttonContainer {color:#fff;font-size:19px}
/* end download area */
/* size area start */
#main-size-block{
display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px; 
	flex-direction: row-reverse;
}
#allappsize {
color:#000;
	font-size:38px;
	padding-right:5px;
	font-weight: 800;
}
#gbUnitContainer{
color:#000;font-size:19px;font-weight: 600;
}
	/* size area end */
	
	/* version area start */
.appversion{
	max-width:65px;
	text-align:center;
	color:#fff;
	margin:auto;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	background: rgb(64,115,186);
background: linear-gradient(61deg, rgba(64,115,186,1) 0%, rgba(65,143,127,1) 100%);
	padding:0 5px;
	font-size:14px
}
	/* version area end */
/* tags start*/
.tagcloud a{color:#4073ba;font-size:15px !important}
.tagcloud a::after{content: ','}
/* tags end */
.elementor-widget-container h2,h3,h4,ul,p{color:#303030}

/* Previous version start code */
.previous-version-container {
    display: flex;
    flex-direction: column;
    direction: ltr; }

.previous-version-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.column {
    flex: 1;
    padding-right: 5px;
    margin-left: 10px; 
}

.column:first-child {
    margin-left: 0; 
}
.links-container {
    display: flex;
    gap: 10px;
}
.btnnn{    background: rgb(64, 115, 186);
    background: linear-gradient(61deg, rgba(64, 115, 186, 1) 0%, rgba(65, 143, 127, 1) 100%);
    border: none;
    color: white;
    padding: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex
;
    align-items: center;
    border-radius: 8px;
}
.btnnn:hover {
    background: rgb(151,207,169);
    background: linear-gradient(90deg, rgba(151,207,169,1) 0%, rgba(70,185,153,1) 100%); 
}
.previous-version-row .column{color:#000}


.tagstyle {border:1px solid #EEEEEE;margin:4px !important;border-radius:6px;padding:4px;line-height: 2.7;
    font-size: 13px;}
/* Previous version end code */
/* comments area start*/
.comments-title,.ast-comment-info {
	direction: rtl;
	font-size:16px;
}
.ast-comment-cite-wrap {text-align: right;font-size:17px}
.ast-comment-content{text-align: right;}
.comment-respond{text-align: right;}
.required-field-message{color:#9d9d9d;font-size:14px}
#reply-title{font-size:18px;margin-bottom:20px;border-top:1px solid #E6E6E6;padding-top:10px}
.comments-area{border-top:1px solid #E6E6E6;}
.ast-comment-info a,time{color:#000}
.ast-reply-link a{color:#4f8e63}
input#submit,input[type="submit"]{background: rgb(64,115,186);
background: linear-gradient(61deg, rgba(64,115,186,1) 0%, rgba(65,143,127,1) 100%);color:#fff}
.comments-area textarea#comment, .comments-area .ast-comment-formwrap input[type="text"]{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.comment-form-cookies-consent label{font-size:12px}
.comment-edit-link{color:#000;padding-right:10px}
/* comments area end*/
.ast-comment-content{border:1px solid #ddd;border-radius:15px;padding:20px 10px}
.ast-reply-link{border-radius:15px;background-color:#f6f6f6;padding:3px 10px}
.ast-comment-meta {
    padding: 0 1.4em 1.333em;
}
.related-thumbnail img{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.related-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.related-content a{
color:#000;
}
.post-categories a{
color:#5b5b5b;
	font-size:13px;
}
.related-content {
    margin-top: 20px;
	margin-bottom: 20px;
}
.related-thumbnail{width:60px; float: left; margin-right: 10px;}
.sizefontt{font-size:14px;font-weight:600;color:#000}
/*####### NOte #####*/
.note {
    background-color: #fff3cd;
    border-right: 4px solid #ffcc00; 
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #856404;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
}

.note-icon {
    font-size: 20px;
    margin-left: 10px; 
}
/*####### Numbers list ######*/
#postfont ol {
    list-style: none;
    counter-reset: custom-counter;
    padding-right: 0;
}

#postfont ol li {
    counter-increment: custom-counter;
    position: relative;
    padding-right: 35px;
    margin-bottom: 8px;
    text-align: right;
    display: flex;
    align-items: center;
}

#postfont ol li::before {
    content: counter(custom-counter);
    width: 24px;
    height: 24px;
    background-color: #91a6c3;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    flex-shrink: 0;
}

/*SLIDER*/
.custom-slider {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.custom-slider .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

.swiper-pagination {
    bottom: 10px;
}
/*########## prog info #########*/
.appinfo-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  font-family: "segoe-ui", Sans-serif;
}

.appinfo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #E6E6E6;
}

.appinfo-title {
    width: 47%;
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.appinfo-value {
    width: 60%;
    color: #666;
    text-align: center;
    font-size: 15px;
}

.appinfo-no-data {
    text-align: center;
    color: #888;
}
/*######### Report #######*/

.reportbutton{background:none;text-align:center;font-weight:600;padding:1px;}
.reportbutton:hover{background:none;color:red;}
.reportbutton:focus{background:none;color:red;}
#report_popup button{color:#fff;}

/*Questions and Answers*/
.qa-tab::before{content:'Q: ';}
.qa-answer::before{content:'A: ';}

/*Votes*/
.usersvotes{border: 1px solid #EEEEEE;
    padding: 0 5px;
    border-radius: 6px;
    float: right;
}

/*الاصدارات السابقه*/
   .hidden {
            display: none;
        }

        .load-more-btn {
 
            border: none;
            padding: 10px 15px;
            margin-top: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 16px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            gap: 10px;
        }

        .load-more-btn:hover {
            background:none !important;
        }
#loadMoreBtn{background:none;}
#loadMoreBtn:hover{background:none;}
#loadMoreBtn:active{background:none;}
        .arrow-down {
            font-size: 12px;
            transition: transform 0.3s ease-in-out;
        }

        .load-more-btn:hover .arrow-down {
            transform: translateY(3px);
        }
#postfont ul {
    list-style: none;
 
}

#postfont ul li {
    position: relative;
    padding-right: 15px; 
    text-align: right; 
}

#postfont ul li::before {
    content: "";
    position: absolute;
    right: 0; 
    top: 10px; 
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 10px solid #d3d3d3; 
}
/*######## هتورنت######*/
  #torrentButton {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:rgb(155, 136, 109);
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            margin-top: 10px;
           margin-bottom: 20px;
        }

        #torrentButton:hover {
            background-color: #305a8c;
        }

        #torrentContainer {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-direction: row-reverse; 
        }

        #torrentContainer img {
            width: 20px;
            height: 20px;
        }
        
        .total-rating-display{margin-right: 5px;
    font-weight: bold;
    padding: 1px 5px !important;
    color: #a2c3b3 !important;
    border-radius: 10px;
    font-size: 13px !important;
    border: 1px solid #a2c3b3;}
       
        /*Notifictions*/
        .dashicons{    font-size: 26px;}
        .notifications-bell .badge{width:20px;height:20px;line-height: 15px;}
        /*########*/
 .notifications-bell {
            position: relative;
            cursor: pointer;
            display: inline-block;
          
        }
        .notifications-bell .badge {
            position: absolute;
            top: -5px;
            left: -5px;
            background: red;
            color: white;
            border-radius: 50%;
            padding: 2px 7px;
            font-size: 13px;
        }
        .notifications-bell .latest-notification {
          margin-right: 5px;
    font-weight: bold;
    font-size: 13px;
        }
        .notifications-dropdown {
            display: none;
            position: absolute;
            right: 0;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            width: 250px;
            z-index: 1000;
        }
        .notifications-dropdown ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .notifications-dropdown ul li {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
        .notifications-dropdown ul li a {
            text-decoration: none;
            color: #333;
        }
        .notifications-dropdown ul li:last-child {
            border-bottom: none;
        }
        .latest-notification {
    font-size: 24px;
    font-weight: bold;
    color: #b151a5;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

/*############## Font family #################*/
.reportbutton,.latest-notification,.version-history{font-family: "segoe-ui", Sans-serif;}
.related-content{font-family: "segoe-ui", Sans-serif;font-size:17px;}
#torrentContainer,#buttonContainer{font-family: "segoe-ui", Sans-serif;font-weight:400;font-size:21px;}

/*##########*/
.questions-and-answers {
    margin: 20px 0;
}

.qa-tab {
    cursor: pointer;
    background: #4073ba;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s ease;
}
.qa-tab:hover {
    background: #305a92;
}


.qa-answer {
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
    max-height: 0;
    opacity: 0;
    padding: 0 10px;
    background: #fff;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 15px;
    line-height: 1.6;
}

.qa-answer.open {
    opacity: 1;
}/* End custom CSS */